---
layout: archive
title: "PhD defense"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
Lien visio publique : https://universite-paris-saclay-fr.zoom.us/j/93874359215pwd=8HtlagOW527a09Ha36V3OxPGl9F8BY.1

Laboratoire : GEOPS 

Superviseurs : Frederic Schmidt & François Andrieu

Date et lieu : 6 Octobre 2025 à 14h, Amphithéâtre Blandin, Laboratoire de Physique des Solides, 1 rue Nicolas Appert, Bâtiment 510, 91405 Orsay Cedex – France 


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

