---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>

  <script>
  function openThesis() {
  document.getElementById("thesisFrame").src = "/files/ma_these.pdf";
  document.getElementById("thesisModal").style.display = "block";
  }

  function closeThesis() {
  document.getElementById("thesisModal").style.display = "none";
  document.getElementById("thesisFrame").src = "";
  }

  /* fermer en cliquant en dehors */
  window.onclick = function(event) {
  const modal = document.getElementById("thesisModal");
  if (event.target === modal) {
    closeThesis();
    }
  }
  </script>


  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
